{% extends 'Info/base.html' %}
<html>
<head>
</head>


</html>

<body>


{% block body %}
{%for item in item_list%}
   <div class="row">
      <div class="col-md-3  offset-md-2">
         <img class="card" height="150px" src="{{ item.item_image }}"/>
      </div>
      <div class="col-md-4">
         <h3>{{ item.item_name}}</h3>
         <h5>{{ item.item_calories}}</h5>
      </div>
      <div class="col-md-2">
         <a href="{% url 'detail' item.id %}" class="btn btn-success">Details</a>
      </div>
   </div>
{% endfor %}
{% endblock %}
</body>